*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poiret One', cursive;
    text-align: center;
    background-color:rgb(239,227,243);
    color:rgb(48,38,43);
}

.header{
    font-weight: 400;
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.user{
    display: block;
    font-size: 2rem;
    font-weight: 700;
}

.link{
    margin: 4rem auto;
    background-color:rgb(48,38,43, 0.8);
    text-align: center;
    display: block;
    width: 30%;
    padding: 1.5rem;
    
}

a{
    text-decoration: none;
    color: rgb(239,227,243);
    font-size: 2rem;
    cursor: pointer;
    font-weight: 400;
}

i{
    margin-right: 1rem;
}